.boton-con-img {
    border: 6px solid grey;
    border-radius: 6px;
    margin: 6px; 
  }
  
  .boton-con-img:focus {
    border: 6px solid goldenrod;
  }
  
  .boton-con-img:active {
    transform: scale(2);
    transition: 300ms;
  }

  


      