  
  .boton-con-img:focus {
    border: 6px solid goldenrod;
  }
  
  .boton-con-img:active {
    transform: scale(2);
    transition: 300ms;
  }

  .boton-con-img-contenedor button {
    background-color: violet;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 9px #aaa;
  }
  


      