.marcadores-contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.marcador-usuario, .marcador-compu {
    font-size: 18px;
    color: black;
    margin-left: 10px;
}

