body {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-size: cover;
  font-weight: bold;
  text-shadow: 1px 1px 2px black, 0 0 1em green, 0 0 0.2em royalblue;
  color: black;
  background-color: violet;
  font-size: large;
  background-image: url(/public/fondo.jpg);
}